{{ with $file := .Get 0 }}
  {{ with resources.Get $file }}
    {{ with . | transform.Unmarshal }}
      <div class="members-list-container flex flex-col gap-6 md:gap-10 py-20">
        {{range . }}
        <div class="members-list-item flex flex-col md:flex-row p-1 items-start gap-8">
          {{ with $picUrl := index . 0 }}
            {{ with $picFullUrl := print "pics/" $picUrl}}
              {{ with $pic := resources.Get $picFullUrl }}
                  <img src="{{ $pic.RelPermalink }}">
              {{ else }}
                <p>{{ $picUrl }}</p>
              {{ end }}
            {{ end }}
            
          {{ end }}
          <div class="flex flex-col md:pt-8 gap-4">
            <h3>{{ index . 1 }}</h3>
            <p>{{ index . 2 }}</p>
          </div>
          
        </div>
        {{ end }}
      </div>
    {{ end }}
  {{ else }}
    {{ errorf "The %q shortcode was unable to find %s. See %s" $.Name $file $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires one positional argument, the path to the CSV file relative to the assets directory. See %s" .Name .Position }}
{{ end }}