{{- /*
Renders the agenda for the current month

*/}}
<div class="overflow-x-auto p-5 border-1 rounded-sm">
   <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=2&ctz=Europe%2FParis&showPrint=0&mode=WEEK&hl=fr&src=MzY3M2FmZWU0M2MzNjdjOTlhZTg3YjgwZTZkY2JjNDRjMWVmYmJiYmI3ZjkxOTM4YjdkN2I3OGVjNjc5ZjdiMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y2JmYjdlMzhlMzc1MGZhYWYyZGNlZmVhYTZmYzZjMDQyN2VkMTZhYjMyZTBiM2FhMzk0OGIxNDFiMzQwYTc2NUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237986cb&color=%23ef6c00" width="500" height="500" frameborder="0" scrolling="no"></iframe>
</div>